@media screen and (max-width:820px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width:480px){
    .container{
        max-width: 100%;
        margin: 0;
    }

    .row{
        flex-wrap: wrap;
        gap: 50px;
    }

    .col{
        flex-basis: 100%;
    }
}